upstream gitlab-workhorse {
  server unix:/var/opt/gitlab/gitlab-workhorse/socket fail_timeout=0;
}

server {
  listen *:80;
  # listen 443;
  # ssl    on;

  server_name {{ gitlab_domain }};
  server_tokens off;

  client_max_body_size 0;

  access_log  /var/log/nginx/gitlab_access.log gitlab_access;
  error_log   /var/log/nginx/gitlab_error.log;

  allow {{ allow_ip }};
  deny all;

  # ssl
  # ssl_certificate /etc/letsencrypt/live/{{ gitlab_domain }}/fullchain.pem;
  # ssl_certificate_key /etc/letsencrypt/live/{{ gitlab_domain }}/privkey.pem;

  # ref
  # https://gitlab.com/gitlab-org/gitlab-ce/blob/master/lib/support/nginx/gitlab
  location / {
    proxy_read_timeout      3600;
    proxy_connect_timeout   300;
    proxy_redirect          off;

    proxy_http_version 1.1;

    proxy_set_header Host              $http_host;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_pass http://gitlab-workhorse;
  }

  error_page 404 /404.html;
  error_page 422 /422.html;
  error_page 500 /500.html;
  error_page 502 /502.html;
  location ~ ^/(404|422|500|502)\.html$ {
    root /opt/gitlab/embedded/service/gitlab-rails/public;
    internal;
  }
}
